{% block header %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">musical taste</a>
  <div class="navbar navbar-right">
	  {% if logged %}
	  <a href="/logout">log out </a>
	  {% else %}
	  <a href="/login">login / sign up </a>
	  {% endif %}  
  </div>
</nav>

{% endblock %}

