{% load static %}
<html>
	<meta charset="utf-8" />
	<head>
		<title></title>
		<link rel="stylesheet" href="{% static "musica/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "musica/css/style.css" %}" />
	</head>
	<body>
		<div class="container-fluid">
			{% include 'header.html' %}
			{% include 'snippets/signup.html' %}
		</div>

		<script src="{% static "musica/js/jquery.min.js" %}"></script>
		<script src="{% static "musica/js/popper.min.js" %}"></script>
		<script src="{% static "musica/js/bootstrap.min.js" %}"></script>
		<script src="{% static "musica/js/script.js" %}"></script>
	</body>
</html>
