<div class="row">
	<div class="col">
	</div>
	<div class="col">
		<h2>{{ nickname }}:: {{ band }} :: {{ album }}</h2>
	</div>
	<div class="col">
	</div>
</div>
<div class="row">
	<div class="col"></div>
	{% for song in songs%}
	<div class="col card">
		<div class="card-body">
			<div class="row">
				<h3 class="card-title">{{ song.name }}</h3>
			</div>
			<div class="row">
				<h4 class="card-subtitle text-muted">{{ song.duration }}</h4>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="col"></div>
</div>
