<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
		<form method="post" id="loginForm">
			{% csrf_token %}
			<div class="form-group">
				<h1>Login</h1>
			</div>
			<div class="form-group">
				<label>Nickname</label>
				{{ loginform.nickname }}
			</div>
			<div class="form-group">
				<label>Password</label>
				{{ loginform.password }}
			</div>
			<div class="alert alert-info" role="alert" id="loginFormError" hidden>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col-4"></div>
</div>
