<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
		<form method="post" id="signupForm">
			{% csrf_token %}
			<div class="form-group">
				<h1>Sign up</h1>
			</div>
			<div class="form-group">
				<label>Nickname</label>
				{{ signupform.nickname }}
				<small id="emailHelp" class="form-text text-muted">nickname should only contain alphanumeric symbols less than 100 characteres.</small>
			</div>
			<div class="form-group">
				<label>Password</label>
				{{ signupform.password }}
				<small id="emailHelp" class="form-text text-muted">password should be less than 10 characteres.</small>
			</div>
			<div class="alert alert-info" role="alert" id="signupFormError" hidden>
			</div>
			<button type="submit" class="btn btn-primary">Signup</button>
		</form>
	</div>
	<div class="col-4"></div>
</div>
