<div class="row">
	<div class="col">
	</div>
	<div class="col">
		<h2>{{ nickname }}</h2>
	</div>
	<div class="col">
	</div>
</div>
<div class="row">
	<div class="col"></div>
	{% for band in bands%}
	<div class="col card">
		<div class="card-body">
			<div class="row">
				<h3 class="card-title">{{ band.name }}</h3>
			</div>
			<div class="row">
				<h4 class="card-subtitle text-muted">{{ band.year_creation }}</h4>
			</div>
			<div class="row">
				<h4 class="card-subtitle text-muted">{{ band.genre }}</h4>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="col"></div>
</div>
